# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c9e07012c94d2e87797ed97c60d27e39afd38d70209ecb8584223741cb261347116229d34f3fb249ea8b4b82accfdf7b418778db6a5a6262ce4789d3671d626f

test:
  secret_key_base: 2762b9dd68fa98b260f293e52569bfb8df82780b66af22276d090ca637df8327ceffe182081d6371d4107197547e984cd7e59a834d95022fa206a859fd4df4b1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
